
<header class="topbar-nav">
    <nav class="navbar navbar-expand fixed-top bg-dark">
        <ul class="navbar-nav mr-auto align-items-center">
            <li class="nav-item">
                <img src="~/Content/assets/images/res.png" />
            
            </li>
            <li class="nav-item">
            </li>
        </ul>

     
        <ul class="navbar-nav align-items-center right-nav-link">
            <li>
                <a class="nav-link dropdown-toggle dropdown-toggle-nocaret waves-effect"href="/Answer/Index">
                    <i class="icon-folder"></i>
                </a>
            </li>
            <li>
                <a class="nav-link dropdown-toggle dropdown-toggle-nocaret waves-effect" href="/Answer/Create">
                    <i class="icon-pencil"></i>
                </a>
            </li>
            <li>
                <a class="nav-link dropdown-toggle dropdown-toggle-nocaret waves-effect" href="/Person/Index">
                    <i class="icon-people"></i>
                </a>
            </li>
            <li class="nav-item dropdown-lg">
                <a class="nav-link dropdown-toggle dropdown-toggle-nocaret waves-effect" href="/Question/Index">
                    <i class="icon-home"></i>
                </a>
            </li>
            <li class="nav-item dropdown-lg">
                <a class="nav-link dropdown-toggle dropdown-toggle-nocaret waves-effect" href="/Login/SignIn">
                    <i class="icon-power"></i>
                </a>
            </li>


            <li class="nav-item dropdown-lg">

            </li>
        </ul>
    </nav>
</header>